SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/starter-modulith
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_USERNAME=root
SPRING_DATA_REDIS_PASSWORD=root